PORT=4000
CLIENT_URL=http://127.0.0.1:5173
JWT_SECRET=grewqwjuusfklgf
NODE_ENV=development

#
MONGODB_URI=mongodb+srv://esumeidaniel:daniel761817@cluster0.7wuajdb.mongodb.net/?appName=Cluster0

# Product image storage
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
